.button {
	-fx-background-color: #f15a22; -fx-text-fill: #0c2340;
}

.button:hover{
	-fx-background-color: #f36f3f; -fx-text-fill: #0c2340;
}

.list-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}